body{
  margin: 0;
  padding: 0;
}

.header-text{
  text-align: center;
  color: rgb(11, 11, 72);
  font-size: 40px;
  border: 1px solid rgb(178, 151, 151);
  padding: 0;
  height: 120px;
}

.nav-links{
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.nav-links a{
  background-color: rgb(11, 11, 72);
  color: white;
  margin: 10px;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  
}

.dashbaord-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.dashboard-icon1, .dashboard-icon2 {
  display: flex;
  justify-content: space-between;
}

.modal-bottns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quotation-div{
  display: flex;
}
.qoutation-form {
  display: flex;
  padding: 5px;
  width: 500px;
  /* border: 1px solid red; */
}
.qoutation-heading{
display: flex;
   color:white;
   justify-content: space-around;
   width: 1000px;
   height: 60px;

}

.heading-box h5{
  background-color: rgb(11, 11, 72);
  width: 100px;
  text-align: center;
}
.transaction-heading{
  display: flex;
  justify-content: space-between;
  color: rgb(11, 11, 72);
  padding: 20px;
  
}